*{
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
    line-height: calc(80vh - 55vh);
}

.btn {
    width: 150px;
    height: 40px;
    border: 2px solid black;
    background-color: white;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 500ms all ease;
}
.btn:hover {
    background-color: black;
    color:white;
    cursor:pointer;
}
h1{
    font-size: 42px;
    text-transform: uppercase;
}
span {
    font-size: 38px;
}